:root {
    --brand-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --background-color: #2F303A;
    --section-color: #F5F4FA;
    --text-color:#757575;
    --title-color: #212121;
    --button-active: #188CE8; 
    --address-color: rgba(255, 255, 255, 0.6);
    --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --team-member-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --card-gap: 30px;
    --card-border: 1px solid #EEEEEE;
    --clients-border: #AFB1B8;
    --hero-gradient: rgba(47, 48, 58, 0.4);
    --footer-socials-bg: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    color: var(--text-color);
    background-color: var(--white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;

}

img {display: block;
    max-width: 100%;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, p {
    margin: 0;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

   
}


.section {
    padding: 94px 0;

}


/* HEADER */

.logo {
    font-family: 'Raleway', sans-serif;
font-style: normal;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--black-color);
}


.logo span {color: var(--brand-color)}

.link,
.address {text-decoration: none;
font-style: normal;
}

.nav {
 
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-color);
}

.contact {
    color: var(--text-color);
    line-height: 1.14;
}

.nav, .contact {
    display: inline-block;
    padding: 32px 0;
}

  
.container.top {
    justify-content: space-between;

}

.container.top, .navigation, .nav-list, .contact-list {
    display: flex;
    align-items: center;
}


.nav-list > .item:not(:last-child) {
    margin-left: 0;
    margin-right: 50px;
}

.contact-list {
    margin: 0;
}
.contact-list > .item:not(:last-child) {
margin-right: 50px;
margin-left:0;
}

.header .logo {
   margin-right: 93px;
}







.nav:hover,
.nav:focus,
.contact:hover,
.contact:focus,
.address:hover,
.address:focus,
.address.map:hover,
.address.map:focus,
.current {color:var(--brand-color)}




.header {border-bottom: 1px solid #ECECEC;}

/* HERO */


.hero {
    background-color: var(--background-color);
    text-align: center;
    padding: 200px 0;
    background-image: linear-gradient(var(--hero-gradient), var(--hero-gradient)), url(../images/hero-bg.jpg) ;
    max-width: 1600px;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hero-title {
    color: var(--white-color);
    font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: var(--card-gap);
}

.hero-button {
    font-family: inherit;
    color: var(--white-color);
    background-color: var(--brand-color);
    font-weight: 700;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
box-shadow: var(--hero-button-shadow);
border-radius: 4px;
border-color:transparent;
padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--button-active);
}

/* НАШІ ПЕРЕВАГИ */

.adv.section {
    padding-bottom:0;
}

.advantage {
    color: var(--title-color);
    font-size: inherit;
    font-weight: 700;
line-height: 1.14;
text-transform: uppercase;
margin-bottom: 10px;

}

.container.advantages {
  
    justify-content:center;

}

.advantages-list {
    display: flex;
    /* margin-right: calc(-1 * var(--card-gap)); */

  
}

.advantages-list .item {
    flex-basis: calc(100% - 90px / 4);
}

.advantages-list .item:not(:last-child) {
    margin-right: var(--card-gap);
}

.text {

    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
margin-bottom: 0;
margin-top: 0;

}

.icon {
 
}


.thumb {
    background-color:var(--section-color);
    margin-bottom: 30px;
    padding: 25px 100px;
}

/* Чим ми займаємось */

.job-list {
    display: flex;
    justify-content: center;
    /* margin-right: calc(-1 * var(--card-gap)); */
}
.job-list .item:not(:last-child) {
    margin-right: var(--card-gap);
    }

.title {
 
    color: var(--title-color);
    font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
margin-bottom: 50px;

}


/* НАША КОМАНДА */

.team {
    background-color: var(--section-color);
}



.team.section {text-align: center;}

.team-member {
    color: var(--title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
   
    
}

.member-list {
    display: flex;
    justify-content: center;
    /* margin-right: calc(-1 * var(--card-gap)); */
}


    
    .item.member {
    flex-basis: calc((100% - 90px )/ 4);
    background-color: var(--white-color);
    box-shadow: var(--team-member-shadow);
}

.member-list > .item:not(:last-child) {
    margin-right: var(--card-gap);
}



.description {
    font-size: 16px;
line-height: 1.19;
}

.member-div {
    padding: 30px 0;
}


.socials {
    display: flex;
    padding: 0 32px 30px;
    justify-content: center;
}

.socials > .item:not(:last-child) {
    margin-right: 10px;
}

.socials > .item .link {
    display: block;
    padding: 12px;
}


/* НАШІ КЛІЄНТИ */

.clients {
    display: flex;
}

.clients > .item:not(:last-child) {
    margin-right: var(--card-gap);

}


.clients > .item .link {
    display: block;
    padding: 16px 32px;
    border: 1px solid;
    border-color: var(--clients-border);
    border-radius: 4px;
}


/* ФУТЕР */


.footer {
    background-color: var(--background-color);
    padding: 60px 0;  
    display: flex;
}

.footer .logo {
    color: var(--white-color);

}

.address.map {
    color: var(--white-color);
    line-height: 1.71;
}

.address {
    margin-top: 20px;
    color: var(--address-color);
    line-height: 1.71;
}



.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

address {
    margin-top: 20px;
}


.footer-div .join {
    color: var(--white-color);
    font-weight: 700;
    line-height: calc(16 / 14);
    text-transform: uppercase;
    margin-bottom: 20px;
}



.footer-container {
    display:flex;
    
}

.footer-nav {
    margin-right: 70px;
}

.footer-div .link {
    background-color: var(--footer-socials-bg);
    border-radius: 50%;
    padding: 12px;
    
}

.footer-socials {
    display: flex;
}

.footer-socials > .item:not(:last-child) {
    margin-right: 10px;
}


.icon {
    fill: red
}
/* ПОРТФОЛІО */


.filter-button {
    
    font-family: inherit;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.63;
letter-spacing: 0.03em;
text-align: center;
color: var(--title-color);
background-color: var(--section-color);
cursor: pointer; 
border-radius: 4px;
border-color: transparent;

padding: 6px 22px;

}

.list.btn {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}


.list.btn > .item:not(:last-child) {
   margin-right: 8px;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-right: -30px;
    margin-bottom: -30px; */



}

  .card {
    flex-basis: calc((100% - 60px) / 3);
    margin-right: var(--card-gap);
    margin-bottom: var(--card-gap);
  
}





.card-list > .card:nth-child(3n) {
    margin-right: 0;
}

.card-list > .card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--white-color);
    background-color: var(--brand-color);
   
    box-shadow: var(--button-shadow);
 
}

.project {
    color: var(--title-color);
    font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
}

.project-description {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.88;
  
} 


.card-div {
    padding: 20px 24px;
    border-left: var(--card-border);
    border-right: var(--card-border);
    border-bottom: var(--card-border);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }